/* style.css */
body {
    text-align: center;
    font-family: Arial, sans-serif;
}
#game_qipan {
background-color: #beaa95;
text-align: center;
width: 460px;
    height: 460px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    position: relative;

}
.game-hide { display: none; } 

.game-cell {
    position: absolute;
    text-align: center;
}


.game-num {width:0px;height:0px;color:#fff;font-size:40px;position:absolute;} 
.game-num-2 {background:#eee4da;color:#776e65;} 
.game-num-4 {background:#ede0c8;color:#776e65;}
.game-num-8 {background:#f2b179;} 
.game-num-16 {background:#f59563;} 
.game-num-32 {background:#f67c5f;} 
.game-num-64 {background:#f65e3b;} 
.game-num-128 {background:#edcf72;font-size:35px;} 
.game-num-256 {background:#edcc61;font-size:35px;} 
.game-num-512 {background:#9c0;font-size:35px;} 
.game-num-1024 {background:#33b5e5;font-size:30px;} 
.game-num-2048 {background:#09c;font-size:30px;} 